In [2]:
from openalgo import api

# Initialize the API client
client = api(api_key='92fbae88ad9c469aa53b96c4f1e0b2db3341c06bc6c80303092687fc78741abe', host='http://127.0.0.1:5000')

# Fetch historical data for SBIN
df = client.history(
    symbol="SBIN",
    exchange="NSE",
    interval="5m",
    start_date="2025-01-01",
    end_date="2025-01-24"
)

df

                            close    high     low    open  volume
timestamp
2025-01-01 09:15:00+05:30  795.25  798.00  792.50  795.60  178086
2025-01-01 09:20:00+05:30  794.75  795.60  793.15  795.15  108969
2025-01-01 09:25:00+05:30  795.45  796.00  794.15  794.75   55948
2025-01-01 09:30:00+05:30  793.40  796.00  793.00  795.45   85411
2025-01-01 09:35:00+05:30  793.80  793.95  793.15  793.50   36133
...                           ...     ...     ...     ...     ...
2025-01-24 15:05:00+05:30  744.45  744.45  742.10  742.30  155596
2025-01-24 15:10:00+05:30  743.45  744.80  743.05  744.45  193684
2025-01-24 15:15:00+05:30  744.40  745.05  743.20  743.45  309565
2025-01-24 15:20:00+05:30  745.00  746.20  744.00  744.40  288503
2025-01-24 15:25:00+05:30  744.50  745.20  744.10  745.20  162026

[1350 rows x 5 columns]